{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    {% include "snippets/styles.html"%}

</head>
<body>
  {% include "snippets/navbar.html"%} 
    
      <div class="jumbotron jumbotron-fluid">
          
      </div>

      <div class="container">
        <h1 class="display-4">ABOUT US</h1>
        <p class="lead">We are the team of data analyst and application builder. 30 Years total experience in Financial Information Technology and Infrastructure</p>
      </div>

      {% include "snippets/scripts.html" %}
</body>
</html>