{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    {% include "snippets/styles.html" %}

</head>
<body>
  {%include "snippets/navbar.html"%}  
    
      <div class="jumbotron jumbotron-fluid">
          
      </div>

      <div class="container">
        <h1 class="display-4">DATA</h1>
        <p class="lead">In this page, you will need to upload your data profile. Please ensure you have validated your data before uploaded</p>
      </div>

      {% include "snippets/scripts.html" %}
</body>
</html>