{% extends "base.html" %}

{% block NavHead %}
  <li class="nav-item ">
    <a class="nav-link" href="/">Home
      <span class="sr-only">(current)</span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/about">About
   
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/data">Data</a>
  </li>
{% endblock NavHead %}

{% block konten1 %}
<div class="container text-black">
    <h1 class="display-4">ABOUT US</h1>
    <p class="lead">We are the team of data analyst and application builder. 30 Years total experience in Financial Information Technology and Infrastructure</p>
</div>

{% endblock konten1 %}

